body {
    background-image: url('http://grfx.cstv.com/schools/conn/graphics/wallpaper/jonathan_1920x1200-wallpaper-16.jpg');
    font-family: Lucida Console;
    color: #99ccff;
}
h1 {
    font-family: Impact;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
a:hover {
    color: red;
}
a:visited {
    color: #99ccff;
}
ol {
    color: #99ccff;
}
table {
    color: #99ccff;
    border: 8px solid blue;
}
td {
    color: #ffffff;
    border-bottom: 1px solid #000000;
    border: 5px solid #99999f;
}
img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
}
